doctype html
html
  head
    block head
      meta(charset="utf-8")
      meta(http-equiv="X-UA-Compatible",content="IE=edge")
      title Hello world
      meta(name="description",content="")
      meta(name="viewport",content="width=device-width, initial-scale=1")
      link(href="css/index.css",type="text/css",rel="stylesheet")
      script(src="js/index.js")
  body
    block body      
